.DS_Store
Ecommerce/target/
Ecommerce/*.class
Ecommerce/.eclipse
Ecommerce/.idea
Ecommerce/.classpath
Ecommerce/.project
Ecommerce/.settings/
Ecommerce/src/main/resources/database.properties
Ecommerce/src/main/resources/applications.properties
